#!/usr/bin/env xdg-open
[Desktop Entry]
Name=jekyll
GenericName=Jekyll
Comment=anything you like
Type=Application
Exec=/home/naga/.rvm/gems/ruby-2.1.0/bin/jekyll serve --watch --draft &
Path=/home/naga/deve/jekyll
Terminal=true
NoDisplay=true
Hidden=false

