/* Code blocks */
code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size:14px;
  line-height: 14px;
  white-space: pre-wrap;
}

body {
  font-size: 1.1rem;
  line-height: 1.80rem;
  /* line-height: normal; */
}

p {
  line-height: normal;
}

table { border-collapse: collapse; border-spacing: 0; }
td { border: solid 1px #003333; }
th { border: solid 2px #003333; }

.right-ad {
  float: right;
  width: 300px;
  height: 600px;
  background: #CCC
}

.about {
  width:50%;
  max-width:800px;
  height:60px;
  margin:40px auto 40px;
  text-align: center;
  font-size: 1.5em;
}

/* Custom container */
.container-narrow {
/*  float: left; */
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

/* original */
.cp_actab {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1px;
	color: #ffffff;
}
.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab label {
	font-weight: bold;
	line-height: 3;
	position: relative;
	display: block;
	padding: 0 0 0 1em;
	margin: 0 0 1px 0;
	cursor: pointer;
	background: #0088cc;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	background: #ffffff;
}
.cp_actab .cp_actab-content p {
	margin: 1em;
    color: #000000;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 100em;
}
/* Icon */
.cp_actab label::after {
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_actab input[type=radio] + label::after {
	content: "\2b07";
}
.cp_actab input[type=radio]:checked + label::after {
	transform: rotateX(180deg);
}
